# OS X cruft
.DS_Store

# Emacs cruft
*~
[#]*[#]
.\#*

# LaTeX cruft
*.aux
*.log
*.synctex.gz
*.idx
*.dvi
*.toc
*.out

# Emacs/LaTeX together cruft:
*.fls
*.fdb_latexmk
/auto

# Python cruft
*.py~

# gitinfo -- including this file is disruptive to Git
gitHeadInfo.gin